@model WebAPIInterface.Models.UserEntity
@{
    ViewData["Title"] = "Add User";
}

<form method="post">
    <div class="border p-3 mt-4">
    <div class="row pb-2">
        <h2 class="text-black">INSERT DATA</h2>
        <form asp-action="AddUser">

        <div class="mb-3">
            <label asp-for="Username"></label>
            <input asp-for="Username" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Emailaddress"></label>
            <input asp-for="Emailaddress" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Mobilenumber"></label>
            <input asp-for="Mobilenumber" class="form-control" />
        </div>
            <button type="submit" class="btn btn-white" style="width:150px">CREATE</button>
            <a asp-action="Index2" class="btn btn-white" style="width:150px">RETURN </a>
        </form>
    </div>
</div>
</form>
